<h1 class=" my-3 text-center">New Game</h1>

<%= form_with model: @game do |form| %>
  <div class="mt-2">
    <%= form.label :title, class: 'form-label' %><br>
    <%= form.text_field :title, class: 'form-control' %>
    <% @game.errors.full_messages_for(:title).each do |message| %>
      <div class="alert alert-danger my-2" role="alert"><%= message %></div>
    <% end %>    
  </div>

  <div class="mt-2">
    <%= form.label :game_url, class: 'form-label' %><br>
    <%= form.text_field :game_url, class: 'form-control' %>
    <% @game.errors.full_messages_for(:game_url).each do |message| %>
      <div class="alert alert-danger my-2" role="alert"><%= message %></div>
    <% end %>       
  </div>

  <div class="mt-2">
    <%= form.submit 'Add Link', class: 'btn btn-success' %>
  </div>
<% end %>
